body{
    font-family:" Arial", sans-serif;
   
}
#navbar{
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#NAVBOX{
    display: flex; 
}
a{
    text-decoration: none;
    color: black;
}
.item{
    
    font-weight: 700;
    height: 30px;
    width: fit-content;
    padding: 8px;
    display: flex;
    margin-top: 8px;
}
.item1{
    
    font-weight: 700;
    height: 30px;
    width: fit-content;
    padding-top: 15px;
}
.item1>a{
    font-size: 17px;
    color: red;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: bold;
    
}
.item>a{
    font-size: 17px;
    color: black;
    font-family: sans-serif;

}
.item>a:hover{
    color: red;

}
#safe{
    height: 15px;
    width: fit-content;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    border-radius: 2px;
    margin-left: 1px;
    padding: 2px;
    
}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
#navbox2{
    display: flex;
    align-items: center;
   
    margin-left: 25px;
}
#Login{
    width: fit-content;
    padding: 10px;
}
#second-nav{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(224, 221, 221, 0.02) 0px 1px 3px 0px, rgba(91, 92, 93, 0.15) 0px 0px 0px 1px;
}
.left{
    display: flex;
    margin-left: 40px;
}
.right{
    display: flex;
    margin-right: 20px;
    margin-left: 30px;
}
#location{
   
   margin-top: 12px;
    height: 35px;
    width: 150px;
    box-shadow: rgba(224, 221, 221, 0.02) 0px 1px 3px 0px, rgba(91, 92, 93, 0.15) 0px 0px 0px 1px;
   border-radius: 2px;
}
select{
    border: none;
    background-color: rgb(241,244,246);
}

.search-div{
    width: 500px;
    height: 35px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(241,244,246);
    box-shadow: rgba(224, 221, 221, 0.02) 0px 1px 3px 0px, rgba(91, 92, 93, 0.15) 0px 0px 0px 1px;
}
input{
    width: 396px;
    border: none;
    padding: 5px;
    background-color: rgb(241,244,246);

}
.searchbtn{
    border: none;
    height: 30px;
    color: gray;
    position: relative;
    right: -40px;
    top: 2px;
    
}
.orderbtn{
    border: none;
    background-color:rgb(252, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 40px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin: 8px;
}
/* dropdown product content */
#dropdownitems{
    height: 80px;
}
.product{
    float: left;
    /* overflow: hidden; */
  }
  .product .dropdown{
    font-size: 14px;  
    border: none;
    outline: none;
    color: black;
    padding: 10px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .product:hover .dropdown {
    color: red;
  }
  .dropdown-content {
    display: none;
    background-color: white;
    font-size: 12px;
    position: absolute;
    color: #e60b0b;
    min-width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    z-index: 1;
  }
  .dropdown-content a{
    float: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    color: #fd0a0a;
  }
  .product:hover .dropdown-content {
    display: block;
  }
  h4{
    margin: 0px;
    font-weight: 800;
  }
/* slider images */
#frame {
    width: 960px;
    max-width: 100%;
    display: flex;
}

#frame input[type=radio] {
    display: none;
}

#frame label {
    cursor: pointer;
    text-decoration: none;
}
#overflow {
    width: 100%;
    overflow: hidden;
}

#frame1:checked~#slides .inner {
    margin-left: 0;
}
#frame2:checked~#slides .inner {
    margin-left: -100%;
}

#frame3:checked~#slides .inner {
    margin-left: -200%;
}

#frame4:checked~#slides .inner {
    margin-left: -100%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    background-color: black;
    line-height: 0;
    height: 200px;
}

#slides .frame {
    width: 25%;
    
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    /* position: relative; */
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#frame1:checked~#controls label:nth-child(2),
#frame2:checked~#controls label:nth-child(3),
#frame3:checked~#controls label:nth-child(4),
#frame4:checked~#controls label:nth-child(1) {
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#frame1:checked~#controls label:nth-last-child(2),
#frame2:checked~#controls label:nth-last-child(3),
#frame3:checked~#controls label:nth-last-child(4),
#frame4:checked~#controls label:nth-last-child(1) {
     float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 110px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #000000;
    margin: 0 10px;
}

#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: #000000;
}
#slides {
    max-width: calc(100% - 0px);
    margin: 0 ;
}
.slideimg{
    display: flex;
    /* flex-wrap: wrap; */
}
#img1{
    height: 200px ;
    width: 510px;
}
#tata-msg{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    width: 100%;
    height: 50px;
    font-size: 22px;
    color: grey;
    text-align: center;
    margin-top: 25px;
}

#quickorderbox{
    display: none;
    
}
#quickorderbox>div{
    margin: 10px;
    text-align: left;
}
#quickorderbox>div:nth-child(2){
    margin: 30px;
    text-align: left;
}
#quickorderbox>div>p:nth-child(3){
    color: rgb(33, 203, 33);

}
/* know mor item */
#knowmore{
    width: 100%;
    height: 250px;
    background-color: rgb(246,246,246);
}
#knowmore img{
     width: 90%;
     height: 150px;
     margin: 45px 70px;
     text-align: center;
}
#knowmore P{
    font-size: 20px;
    position: relative;
    left: 70px;
    top: -50px;
}
/* cards for products */
#health_care_card{
    background-color:rgb(246,246,246);
    height: 3360px;
    width: 100%;
    
}
.shop_cards_outer{
    padding-left: 70px;
    width: 100%;
    height: 210px;
    background-color: white;
}
.shop_cards{
    width: 100%;
    height: 210px;
    background-color: white;
    display: grid;
    grid-template-columns:repeat(7,190px) ;
    grid-template-rows: repeat(1,210px);
}
.shop_card_1{
    border-radius: 8px;
    text-align: center;
    
}
.shop_card_1:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shop_card_1>a>img{
    width: 140px;
    height: 140px;
    margin: 20px;
    border-radius: 8px;
}
.shop_card_1>a>p{
    margin: 0px;
    font-size: 12px;
}

/* space content */
#space_between-cards{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}
#space_between-cards>div{
    font-size: 20px;
    margin-left: 70px;
}
#space_between-cards>div>button{
    background-color:rgb(255,111,97) ;
    color: white;
    border: none;
    margin: 20px 55px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 700;
    height: 25px;
    width: 60px;
   
    /* right: -1025px; */
}
/* coupn cards  **************** */
.coupan_cards{
    width: 100%;
    height: 150px;
    padding-top: 20px;
    background-color: white;
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
}
.coupan_card_grid{
    width: 100%;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(1,130px);
    column-gap: 30px;
}
.coupan_card_box:hover{
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
    border-radius: 10px;

}
.img_1mg>img{
    display: none;
    height: 40px;
    width: 80px;
}
.coupan_card_box>img{
    position: relative;
    height: 20px;
    width: 60px;
    top: -42px;
    left: 242px;
}
.coupan_card_box>div{
    display: flex;

}
h5{
    padding-left: 10px;
}
.coupan_card_box>div>p{
    margin: 10px;
}
.coupan_card_box>div>div{
    border: 1px dashed green;
    background-color: rgb(243,251,244);
    color: green;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    font-size: 12px;
    padding: 5px;
}
/* third cards div ************************* */
.brands_card{
    width: 100%;
    height: 210px;
    background-color: white;
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
}
.brand_cars_middle{
    width: 100%;
    height: 210px;
    margin-left: 70px;
    background-color: white;
    display: grid;
    grid-template-columns:repeat(7,180px) ;
    grid-template-rows: repeat(1,210px);
    column-gap: 10px;
}
.brand_cards_main{
    border-radius: 8px;
    
}
.brand_cards_main>a>img{
    height: 140px;
    width: 140px;
    margin: 20px;
    border-radius: 50%;
}
.brand_cards_main:hover{
    box-shadow: rgba(65, 65, 65, 0.35) 0px 5px 15px;
}
/* supplemets *******************/
.supplement_card{
    width: 100%;
    height: 330px;
    background-color: white;
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
}
.supplement_card-middle{
    width: 100%;
    height: 330px;
    margin-left: 70px;
    background-color: white;
    display: grid;
    grid-template-columns:repeat(7,190px) ;
    grid-template-rows: repeat(1,330px);
    column-gap: 1px;
}
h6{
    margin: -5px 10px;
    font-size: 12px;
}
h2{
    margin-top: -8px;
}
b{
    color: #000000;
}

.supplement_card-inner{
    border-radius: 8px;
}
.supplement_card-inner>img{
    width: 110px;
    height: 130px;
    margin: 20px 40px;
}
.supplement_card-inner>p{
    font-size: 12px;
    margin: 10px;
    color: gray;
}
.supplement_card-inner>div{
    font-size: 12px;
    display: flex;
    /* justify-content: space-around; */
    margin: -5px 10px;
}
.supplement_card-inner>div>div:nth-child(2){
    color: green;
    margin: 10px;

}
.supplement_card-inner:hover{
    box-shadow: rgba(65, 65, 65, 0.35) 0px 5px 15px;
}
.personalcare_card{
    padding-left: 70px;
    width: 100%;
    height: 210px;
    background-color: white;
}
/* test pathology cards ************* */
.testcoupan_card{
    width: 100%;
    height: 150px;
    padding-top: 10px;
    background-color: white;
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
}
.testcoupan_card_grid{
    width: 100%;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(1,140px);
    column-gap: 30px;
}
.testcoupan_card_box:hover{
    box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
    border-radius: 10px;

}
.testcoupan_card_box>img{
    position: relative;
    height: 20px;
    width: 60px;
    top: -25px;
    left: 242px;
}
.testcoupan_card_box>p{
    margin: -15px 15px;
    font-size: 11px;
    color: grey;
}
.testcoupan_card_box>h5{
    font-size: 15px;
}
.testcoupan_card_box>b{
    position: relative;
    top: 50px;
    left: -50px;
}

/* treanding cards */
.trending_cards{
    width: 100%;
    height: 330px;
    background-color: white;
}
/* popular cards */
.popular_cards{
    padding-left: 70px;
    width: 100%;
    height: 210px;
    background-color: white;
}
/* ayurveda cards */
.ayurveda_cards{
    height: 300px;
    width: 100%;
    background-color: white;
}
.ayurveda_cards_middle{
    margin-left: 70px;
    width: 100%;
    padding-top: 15px;
    height: 280px;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(1,270px);
    row-gap: 15px;
    column-gap: 40px;
}
.ayurveda_card_inner>a>img{
    width: 298px;
    margin: 1px;
    border-radius: 8px 8px 0px 0px;
}
.ayurveda_card_inner>a>p{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
}
.ayurveda_card_inner>a>h4{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.ayurveda_card_inner:hover{
    box-shadow: rgba(68, 68, 68, 0.35) 0px 5px 15px;
    border-radius: 8px;
}
/* footer description */
#footer_description{
    height: 850px;
    width: 100%;
    text-align: left;
    
}
#footer_description>h3{
    font-size: 15px;
    margin: 20px;
}
#footer_description>h4{
    font-size: 15px;
    margin: 20px;
    font-weight: 600;
}
#footer_description>p>b{
    color: grey;
    font-size: 15px;
}
#footer_description>p{
    color: grey;
    font-size: 15px;
    margin: 20px;
}

/* platform_description ***************** */
#platform_description{
    height: 250px;
    width: 100%;
    padding-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 10px 5px inset;
}

#platform_description>div:first-child{
    margin: auto;
    text-align: center;
    font-size: 22px;
}
#platform_description>div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(217, 217, 217);
    margin: 0px 100px;
}
input:focus {
    outline: none;
}
#platform_description>div:last-child{
    font-size: 22px;
    display: flex;
    justify-content: space-evenly
   
}
#platform_description>div:last-child>div:last-child{
    margin-top: 15px;
   
}
#platform_description>div:last-child>div:last-child>button{
    color: white;
    background-color: #ff6f61;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
/* footer div item */
footer{
    background-color: #fffcf8;
}
#first-child{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid rgb(196, 196, 196);
}
.service-content{
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 220px;
    font-size: 13px;
}
.service-content>h2{
    margin-top: 30px;
}
.service-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.service-content li {
    margin-bottom: 8px;
}
.service-content a {
    text-decoration: none;
    color: #333;
}
.service-content:nth-child(4)>div img{
    height: 20px;
    width: 20px;
}
.service-content button{
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    color: white;
    width: 80px;
    font-weight: bold;
    padding: 15px;
}

.service-content:nth-child(5) img{
    height: 50px;
    width: 120px;
}
/* tata features ************ */
.tata-features{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid rgb(198, 198, 198);
}
.feature-1{
    height: 250px;
    width: 150px;
    padding: 10px;
    text-align: center;
    /* margin: auto; */
}

.feature-1 img{
    margin: 10px 0px;
}
.feature-1 p{
    font-size: 12px;
    color: grey;
}
/* certification div */
#certification{
    text-align: center;
    margin: auto;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 10px;
}
/* last dropdown with  js */

.dropdown-2 {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.dropdown-toggle {
    background-color: #fffcf8;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle:focus {
    outline: none;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.2s;
}

.down {
    transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
}

.dropdown-content-2 {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #fffcf8;
}

.dropdown-content-2 h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.dropdown-content-2 p {
    margin: 10px 0;
    color: gray;
    font-size: 15px;
}
.footerlast{
    color: rgb(179, 179, 179);
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

/* login content */
#Login-1{
    background-color: white;
    border: none;color: #000000;
    font-size: 15px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-left, .modal-right {
    width: 48%;
}

.modal-left img {
    max-width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-right form {
    display: flex;
    flex-direction: column;
}

.modal-right form input[type="text"],
.modal-right form button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

.modal-right form button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-right form button:hover {
    background-color: #e04a4f;
}


@media screen and (max-width: 768px) and (min-width:426px ) {
    #navbar{
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .item{
        padding: 8px;
        display: flex;
        margin-top: 5px;
    }
    .item1>a{
        font-size: 12px;
    }
    .item>a{
        font-size: 12px;
    }
    #NAVBOX{
        display: flex;
        flex-wrap: wrap; 
    }
    #navbox2{
        display: flex;
        align-items: center;
       font-size: 12px;
        margin-left: 15px;
    }
    #second-nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        box-shadow: rgba(224, 221, 221, 0.02) 0px 1px 3px 0px, rgba(91, 92, 93, 0.15) 0px 0px 0px 1px;
    }
    .left{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .right{
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    .search-div{
        width: 500px;
        margin: 10px 0px 0px 0px;
        
    }
    .searchbtn{
        height: 30px;
        color: gray;
        position: relative;
        right: -40px;
        top: 2px;
        
    }
    #dropdownitems{
        height: 190px;
    }
    /* slides */
    .slideimg{
        display: flex;
        flex-wrap: wrap;
    }
    #img1{
        height: 200px ;
        width: 138%;
    }
    #tata-msg{
        height: 40px;
        font-size: 16px;
        margin-top: 20px;
    }
    /* order box  */
    #quickorderbox{
        display: flex;
        justify-content: space-evenly;
        width: 98%;
        font-size: 12px;
        height: 120px;
        margin: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    #knowmore img{
        width: 95%;
        height: 90px;
        margin: 30px 20PX;
        text-align: center;
   }
   #knowmore{
    width: 100%;
    height: 150px;
    background-color: rgb(246,246,246);
    }
    #knowmore P{
        font-size: 16px;
        position: relative;
        left: 20px;
        top: -40px;
    }
    /* card start */
    .shop_cards_outer{
        padding-left: 1px;
    }
    .shop_cards{
        display: grid;
        grid-template-columns:repeat(4,160px) ;
        grid-template-rows: repeat(1,210px);
    }
    .shop_card_1:hover{
        box-shadow: none;
    }
    .shop_card_1:nth-child(5),.shop_card_1:nth-child(6),.shop_card_1:nth-child(7){
        display: none;
    }
    /* space between card divs */
    
    #space_between-cards>div{
        font-size: 18px;
        margin-left: 30px;
    }
    /* coupan cards */
    .img_1mg>img{
        display: block;
        height: 50px;
        width: 120px;
        margin-top: -10px;
        margin-left: 10px;

    }
    .coupan_cards{
        width: 100%;
        height: 220px;
        padding-top: 20px;
        background-color: white;
        box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
    }
    .coupan_card_grid{
        width: 100%;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(4,260px);
        grid-template-rows: repeat(1,200px);
        column-gap: 0px;
    }
    .coupan_card_box>img{
        position: relative;
        height: 20px;
        width: 60px;
        top: -42px;
        left: 200px;
    }
    .coupan_card_box>div{
        display: block;
        margin-left: 10px;
        font-size: 12px;
    
    }
    .coupan_card_box:last-child{
        display: none;
    }
    /* brands card creation */
    .brand_cars_middle{
        margin-left: 10px;
        display: grid;
        grid-template-columns:repeat(4,180px) ;
        grid-template-rows: repeat(1,210px);
        column-gap: 5px;
    }
    
    .brand_cards_main>a>img{
        height: 140px;
        width: 140px;
        margin: 20px;
        border-radius: 50%;
    }
    .brand_cards_main:hover{
        box-shadow: none;
    }
    .brand_cards_main:nth-child(5),.brand_cards_main:nth-child(6),.brand_cards_main:nth-child(7){
        display: none;
    }
    /* suplements card ++********* */
    .supplement_card{
        height: 340px;
    }
    .supplement_card-middle{
        height: 330px;
        margin-left: 20px;
        display: grid;
        grid-template-columns:repeat(7,170px) ;
        grid-template-rows: repeat(1,340px);
        column-gap: 1px;
    }
    .supplement_card-inner>img{
        width: 110px;
        height: 130px;
        margin: 20px 30px;
    }
    .supplement_card-inner:hover{
        box-shadow: none;
    }
    .supplement_card-inner:nth-child(5),
    .supplement_card-inner:nth-child(6),
    .supplement_card-inner:nth-child(7){
        display: none;
    }
    .personalcare_card{
        padding-left: 30px;
    }
    /* test carsds ******************* */
    .testcoupan_card{
      
        height: 200px;
        padding-top: 10px;
        background-color: white;
        box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
    }
    .testcoupan_card_grid{
      
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(3,250px);
        grid-template-rows: repeat(1,190px);
        column-gap: 10px;
    }
    .testcoupan_card_box:nth-child(4){
        display: none;
    }
    .testcoupan_card_box>img{
        position: relative;
        top: -25px;
        left: 190px;
    }
    .testcoupan_card_box>b{
        position: relative;
        top: 100px;
        left: -50px;
    }
    /* teranding cards */
    .trending_cards{
        width: 100%;
        height: 350px;
    }
    .popular_cards{
        padding-left: 1px;
    }

    /* ayurveda cards */
    .ayurveda_cards{
        height: 250px;
    }
    .ayurveda_cards_middle{
        margin-left: 10px;
        padding-top: 15px;
        height: 230px;
        display: grid;
        grid-template-columns: repeat(4,220px);
        grid-template-rows: repeat(1,220px);
        column-gap: 10px;
    }
    .ayurveda_card_inner>a>img{
        width: 218px;
        height: 130px;
    }
    .ayurveda_card_inner:last-child{
        display: none;
    }
    /* footer description */
    #footer_description{
        height: 1200px;
        width: 100%;
        padding-top: 150px;
        text-align: left;
        
        
    }
   /* platform_description ***************** */
    #platform_description{
        height: 290px;
        width: 100%;
        padding-top: 40px;
        
    }
    #platform_description>div:first-child{
        margin: auto;
        text-align: center;
        font-size: 14px;
        color: gray;
    }
    #platform_description>div:nth-child(2){
        font-size: 16px;
    }
    #platform_description>div:last-child{
        font-size: 18px;
       width: 90%;
       margin: auto;
       text-align: center;
       padding-top: 20px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        border-radius: 10px;
        width: 90%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        display: flex;
        flex-wrap: wrap;
       
    }
}
@media screen and (max-width: 426px) and (min-width:200px ) {
    #navbar{
        display: flex;
        flex-wrap: wrap;
        
    }
    .item1>a{
        font-size: 9px;
    }
    .item>a{
        font-size: 9px;
        color: black;
        font-family: sans-serif;

    }

    #NAVBOX{
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
    }
    #navbox2{
        display: flex;
        align-items: center;
       font-size: 10px;
        margin-left: 10px;
       
    }
    #second-nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        box-shadow: rgba(224, 221, 221, 0.02) 0px 1px 3px 0px, rgba(91, 92, 93, 0.15) 0px 0px 0px 1px;
    }
    .left{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .right{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
    }
    .search-div{
        width: 200px;
        margin: 1px;
    }
    .searchbtn{
        width: 10px;
        position: relative;
        right: -20px;
        top: 5px;
    }
    input{
        width: 200px;
        border: none;
        padding: 8px;
    }
    #dropdownitems{
        height: 200px;
    }
     /* slides */
    .slideimg{
        display: block;
        /* display: flex;
        flex-wrap: wrap; */
    }
    #img1{
        height: 200px ;
        width: 100%;
    }
    #frame {
        width: 960px;
        max-width: 100%;
        display: block;
    }
    #tata-msg{
        height: 40px;
        font-size: 14px;
        margin-top: 20px;
    }

    /* order box  */
    #quickorderbox{
        display: flex;
        justify-content: space-evenly;
        width: 98%;
        font-size: 12px;
        height: 160px;
        margin: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    #knowmore img{
        width: 95%;
        height: 50px;
        margin: 25px 0px 10PX 10PX;
        text-align: center;
   }
   #knowmore{
    width: 100%;
    height: 130px;
    background-color: rgb(246,246,246);
    }
    #knowmore P{
        font-size: 18px;
        position: relative;
        left: 10px;
        top: -5px;
    }
    /* card start */
    .shop_cards_outer{
        padding-left: 0px;
    }
    .shop_cards{
        display: grid;
        grid-template-columns:repeat(4,90px) ;
        grid-template-rows: repeat(1,160px);
    }
    .shop_card_1:hover{
        box-shadow: none;
    }
    .shop_card_1:nth-child(5),.shop_card_1:nth-child(6),.shop_card_1:nth-child(7){
        display: none;
    }

     /* space between card divs */
     #space_between-cards{
        width: 100%;
        height: 100px;
        display: flex;
        margin-bottom: -20px;
    }
    #space_between-cards>div{
        font-size: 20px;
        margin-left: 10px;
    }
     /* coupan cards */
     .img_1mg>img{
        display: block;
        height: 50px;
        width: 100px;
        margin-top: -10px;
        margin-left: 10px;

    }
    .coupan_cards{
        height: 240px;
        padding-top: 20px;
        
    }
    .coupan_card_grid{
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(3,150px);
        grid-template-rows: repeat(1,220px);
        column-gap: 5px;
    }
    .coupan_card_box>img{
        position: relative;
        top: -40px;
        left: 90px;
    }
    .coupan_card_box>div{
        display: block;
        margin-left: 10px;
        font-size: 10px;
    
    }
    .coupan_card_box:last-child{
        display: none;
    }
    .brand_cars_middle{
        margin-left: 0px;
        display: grid;
        grid-template-columns:repeat(4,90px) ;
        grid-template-rows: repeat(1,210px);
        column-gap: 5px;
    }
    
    .brand_cards_main>a>img{
        height: 130px;
        width: 130px;
        margin: 20px;
        border-radius: 50%;
    }
    .brand_cards_main:hover{
        box-shadow: none;
    }
    .brand_cards_main:nth-child(5),.brand_cards_main:nth-child(6),.brand_cards_main:nth-child(7){
        display: none;
    }
    /* suplements card ++********* */
    .supplement_card{
        height: 400px;
    }
    .supplement_card-middle{
        height: 400px;
        margin-left: 10px;
        display: grid;
        grid-template-columns:repeat(7,100px) ;
        grid-template-rows: repeat(1,400px);
        column-gap: 1px;
    }
    .supplement_card-inner>img{
        width: 80px;
        height: 100px;
        margin: 10px 15px;
    }
    .supplement_card-inner:hover{
        box-shadow: none;
    }
    .supplement_card-inner:nth-child(5),
    .supplement_card-inner:nth-child(6),
    .supplement_card-inner:nth-child(7){
        display: none;
    }
    .personalcare_card{
        padding-left: 0px;
    }
    /* test carsds ******************* */
    .testcoupan_card{
      
        height: 200px;
        padding-top: 10px;
        background-color: white;
        box-shadow: rgba(159, 157, 157, 0.35) 0px 5px 15px;
    }
    .testcoupan_card_grid{
      
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(3,150px);
        grid-template-rows: repeat(1,190px);
        column-gap: 10px;
    }
    .testcoupan_card_box:nth-child(4){
        display: none;
    }
    .testcoupan_card_box>img{
        position: relative;
        top: 20px;
        left: 90px;
    }
    .testcoupan_card_box>b{
        position: relative;
        top: 90px;
        left: -50px;
    }
    /* trending cards  */
    .trending_cards{
        width: 100%;
        height: 410px;
    }
    .popular_cards{
        padding-left: 1px;
    }
    /* ayurveda cards */
    .ayurveda_cards{
        height: 250px;
    }
    .ayurveda_cards_middle{
        margin-left: 2px;
        display: grid;
        grid-template-columns: repeat(4,150px);
        grid-template-rows: repeat(1,220px);
        column-gap: 10px;
    }
    .ayurveda_card_inner>a>img{
        width: 148px;
        height: 130px;
    }
    .ayurveda_card_inner:last-child{
        display: none;
    }
    .ayurveda_card_inner:hover{
        box-shadow:none;
    }
    #footer_description{
        height: 1650px;
        width: 100%;
        padding-top: 650px;
        text-align: left;
        
    }
    /* platform description */
    #platform_description{
        height: 290px;
        width: 100%;
        padding-top: 30px;
        
    }
    #platform_description>div:first-child{
        font-size: 15px;
    }
    #platform_description>div:nth-child(2){
        font-size: 11px;
    }
    #platform_description>div:last-child{
        font-size: 15px;
       width: 90%;
       margin: auto;
       text-align: center;
       padding-top: 20px;
    }
    /* footer content services ******************* */
    #first-child{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .service-content{
        width: 150px;
    }

    .feature-1{
        height: 300px;
        width: 150px;
        padding: 10px;
        text-align: center;
        /* margin: auto; */
    }
    
}